<!-- Footer SVG Waves -->
<div class="waves-container">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 1200 280" preserveAspectRatio="none">
    <defs>
      <path id="gentle-wave"
            d="M0,32L30,32C60,32,120,32,180,53.3C240,75,
               300,117,360,128C420,139,480,117,540,106.7C600,96,
               660,96,720,90.7C780,85,840,75,900,80C960,85,1020,107,
               1080,112C1140,117,1200,107,1260,96C1320,85,1380,75,
               1410,69.3L1440,64L1440,320L0,320Z" />
    </defs>
    <g class="parallax">
      <use href="#gentle-wave" x="0" y="0" fill="rgba(114,137,218,0.7)" />
      <use href="#gentle-wave" x="0" y="3" fill="rgba(114,137,218,0.5)" />
      <use href="#gentle-wave" x="0" y="5" fill="rgba(114,137,218,0.3)" />
      <use href="#gentle-wave" x="0" y="7" fill="#7289da" />
    </g>
  </svg>
</div>

  
  <!-- Interactive Footer Content -->
  <footer class="page-footer font-small unique-color-dark pt-4">
    <!-- <div class="container"> -->
      <!-- <ul class="list-unstyled list-inline text-center py-2"> -->
        <!-- <h5 class="mb-1">mm this button looks like very good. do you want click it?</h5> -->
        <!-- <li class="list-inline-item"> -->
          <!-- <a href="#" class="btn btn-outline-light btn-rounded">yes!</a> -->
        <!-- </li> -->
      <!-- </ul> -->
    <!-- </div> -->
    <!-- <div class="text-center py-3">
      <small>© 2025-2026 Copyright: <a href="https://github.com/nakulpadalkar">Nakul R. Padalkar</a></small>
    </div> -->
  </footer>
  